.promptInput {
	margin-top: 10px;
}

input {
	font-size: 20px;
	padding: 10px;
	width: 100px;
	height: 50px;
	margin-right: 10px;
}

button {
	font-size: 20px;
	height: 49px;
}

.error {
	margin-top: 20px;
	font-weight: bold;
	color: #cc0000;
}

.weatherTitle {
	margin-top:20px;
	font-size: 40px;
}